<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Franky!</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="shortcut icon" href="https://storage.frangky.me/favicon.png" type="image/x-icon">
   <link rel="icon" href="https://storage.frangky.me/favicon.png" type="image/x-icon">
  <link href="css/styles.css" rel="stylesheet">
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="main-container">
        <div class="inner cover">    
          <h1> Franky 404</h1>
          <h3 style=" margin-bottom: 50px;">Shorten Your URL Now!</h3>
          <div class="row">
            <div class="col-lg-12" style=" margin-top: 25px;">
              <div class="input-group input-group-lg">
                <input id="url-field" type="text" class="form-control" placeholder="Enter Your URL..">
                <span class="input-group-btn">
                  <button class="btn btn-shorten" type="button">shorten</button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-5 " style="display:none; margin-top: 25px;" id="showonlink">
              <div class="input-group input-group-md">
                <input type="text" id="custom" class="form-control" placeholder="Custom Your URL..">
                <span class="input-group-btn">
                  <button class="btn btn-custom" type="button">custom</button>
                </span>
              </div>
            </div>
            <div class="col-lg-7" style=" margin-top: 25px;" id="link">
              <div class="input-group input-group-md" style="width: 350px">
                <input id="shorturl" type="text" class="form-control" readonly>
                <div class='copied'></div>
              </div>      
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/shorten.js"></script>
</body>
</html>
